.burger-menu-container {
  position: relative;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.burger-icon .line {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

.burger-icon.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon.open .line:nth-child(2) {
  opacity: 0;
}

.burger-icon.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  display: none;
  flex-direction: column; /* Ensure the menu lists items vertically */
  position: absolute;
  top: 40px; /* Adjust based on your header height */
  left: 0; /* Align the menu to the left side */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.menu.open {
  display: flex;
}

.menu ul {
  display: flex !important;
  flex-direction: column !important; /* Force vertical alignment */
}

.menu ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li:hover {
  background-color: rgba(26, 38, 91, 0.276);
}